<!doctype html>
<html>
  <head>
    <title>FLASK CSV File Upload</title>
  </head>
  <body>
    <h1>Upload your CSV file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <label for="fname">File:</label>
      <input type="file" name="file"><br>
      <label for="fname">create_usr_id:</label>
      <input type="text" id="fname" name="username" value="ashish"><br>
      <label for="fname">schema:</label>
      <input type="text" id="fname" name="schema" value="public"><br>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
